{% extends 'base.html' %}
{% block title %}About |{% endblock title %}

{% block body %}
    <div class="tile">
        <p>ABOUT US</p>
    </div>
    <section class="targetcontainer">
        <div class="part in-left">
            <div class="textSection">
                <h1><span class="sans emp">Who we are ?</span></h1>
                <p class="paragraph">Kavya Electrical Store is a leading brand of electrical products and accessories in
                    India. Its range of products include modulars, switches, wires & cables, MCBs and LEDs. Established
                    in 1988, it is today a multi-product, multi-location company with corporate office in New Delhi and
                    multiple manufacturing facilities in the State of Uttarakhand. Over the last three decades, the high
                    demand for our products and ever-expanding customer base helped us deliver substantial year-on-year
                    growth and a sound balance sheet. As a result, we are proactively expanding our business with the
                    support of leading banks and credit rating agencies in India. We continuously invest our resources
                    in the latest equipment and technical know-how to develop high-quality products.</p>
            </div>
            <div class="imgSection">
                <img src="../static/images/whoweare.png" alt="" height="300px" width="500px">
            </div>
        </div>


        <div class="part in-down">
            <div class="imgSection">
                <img src="../static/images/what we do.jpg" alt="" height="300px" width="500px">
            </div>
            <div class="textSection">
                <h1><span class="sans emp">What we do?</span></h1>
                <p class="paragraph">Kavya Electrical Store range of products is well known for its robust quality, high
                    tensile strength, versatile usage and efficiency. Furthermore, the conductors are insulated with a
                    special grade of PVC for insulation as well as for outer sheath, which consists of highly abrasive
                    resistant PVC compound. We ensure the quality of both the input material and final products through
                    a robust quality control system. We provide value-for-money products to our customers as we
                    specialize in sourcing high-grade raw materials at a cost-effective price.Our products come with ISI
                    & CE quality mark and are manufactured in ISO certified facilities. We ensure that we have well
                    equipped lab and a team highly qualified engineers who test the products as per BIS standard.</p>
            </div>
        </div>


        <div class="part in-left">
            <div class="textSection">
                <h1><span class="sans emp">Why choose us ?</span></h1>
                <p class="paragraph">Kavya Electrical Store is a leading brand of electrical products and accessories in
                    India. Its range of products include modulars, switches, wires & cables, MCBs and LEDs. Established
                    in 1988, it is today a multi-product, multi-location company with corporate office in New Delhi and
                    multiple manufacturing facilities in the State of Uttarakhand. Over the last three decades, the high
                    demand for our products and ever-expanding customer base helped us deliver substantial year-on-year
                    growth and a sound balance sheet. As a result, we are proactively expanding our business with the
                    support of leading banks and credit rating agencies in India. We continuously invest our resources
                    in the latest equipment and technical know-how to develop high-quality products.</p>
            </div>
            <div class="imgSection">
                <img src="../static/images/whoweare.png" alt="" height="300px" width="500px">
            </div>
        </div>
    </section>
{% endblock body %}





