{% extends 'base.html' %}
{% block title %}Services |{% endblock title %}


{% block body %}
    <div class="tile in-down">
        <p>OUR SERVICES</p>
    </div>
    <div class="cover in-down">
        <img src="../static/images/services.png" alt="" srcset="" height="600px" width="1200px">
    </div>
    <div class="container container-fluid">

        <p class="paragraph in-left">Welcome to <strong> Kavya Electrical Store </strong>. Explore a wide range of smart
            products that meet the requirements of a modern home. From lighting, switches, electrical circuitry and
            wiring to home & kitchen appliances, fans, air coolers and water heaters. The eco-friendly and power saving,
            Havells consumer products provide great functionality and durability, and look chic to suit the needs of
            your living spaces.Kavya Electricals Store introduce ourselves as Suppliers of Siemen PLC, PLC And Drive
            Panel, SCADA And HMI System, Allen Bradly And Mitsubishi PLC, etc. All our products are the new generation
            machines which are the result of meticulous planning and technological advancement. Ever since our inception
            in the year 2011, we have been consistently providing only the highest quality of products in the Automation
            sector. We provide customization as well as timely delivery of the products, as per our clients'
            requirements. Our team is always open to assists our customers in every possible manner. All these factors
            have helped us in achieving maximum client satisfaction.</p>
    </div>
    <div class="categories in-down">
        <button type="button" class="btn btn-outline-secondary button-btn btn-lg">Concealed Conduit Wiring</button>
        <button type="button" class="btn btn-outline-secondary button-btn btn-lg">Interior Design & Services</button>
        <button type="button" class="btn btn-outline-secondary button-btn btn-lg">Alluminium Windows & Doors</button>
        <button type="button" class="btn btn-outline-secondary button-btn btn-lg">UPVC Door</button>
        
    </div>

    <section class="componentsSection in-down">
        <section class="component in-down" id="concealedconduitwiring">
            <div id="fan_cover">
                <img src="" alt="">
            </div>
            <div id="fans_desc" class="container container-fluid">
                <h3 class="itemHeading">CONCEALED CONDUIT WIRING</h3>
                <p class="paragraph">All wiring to lights, fans, convenience outlets, call bells, etc. will be
                    considered on 'point rate' basis and shall include the required length of wires from
                    sub-distribution board outlet to the ceiling roses, switches, convenience outlet sockets, bell
                    pushes, call bells, connectors, etc. The wiring shall be carried out separately for 'lighting' and
                    power as indicated in the drawings. <br> <br>
                    All conduits shall be run as far as possible along the walls and ceiling and above false ceilings so
                    as to be easily accessible for inspection if need be. While the Architects drawings indicate the
                    distribution for light and power points, it shall be the contractors' responsibility as well, to
                    balance the load on all the three phases for an even distribution. Before commencement of work, the
                    contractor shall seek the approval of the Consultants on the distribution of balancing of loads and
                    circuits. The wiring shall be done by the process of looping the live conductors and the neutral
                    wires. <br> <br>
                    Bare or twist joints shall be carried out with due care and preferably through proper junction
                    boxes. <br> <br>
                    Before commencement of work, the contractor shall seek the approval of the Architects/Consultants on
                    the layout of the conduit runs. Separate conduits shall be run for lighting and power circuits and
                    also for telephone cables. To avoid any cross talk and extraneous interference in the telephone
                    circuits, all telephone wiring conduits shall be run with a sufficient clearance from the power and
                    lighting conduits. <br> <br>
                    All separate circuits from DB's shall have separate neutral to the points. Common neutral between
                    separate circuits are not permissible. <br> <br>
                    As far as possible wiring shall be run in conduits. Any open wiring to be done shall first be
                    approved by the Architects/Owners. All conduit wiring shall be complete with continuous earth as per
                    I.E.R. <br> <br>
                    The wiring shall be carried out as specified. 'Power' and 'heating' wiring shall be kept separate
                    and distinct from 'Lighting' wiring. The wiring shall be done on the distribution system with main
                    and branch distribution boards at convenient physical and electrical centers and consideration shall
                    be given for neatness and good appearance. <br> <br>
                    The wiring shall be done in the 'Looping System. 'Phase' or 'live' conductors shall be looped at the
                    switch box and neutral conductor can be looped from the light fan or socket outlets. 1.5 sq. mm PVC
                    wires in green colour are to be run continuously in conduits for continuous earthing. The earth wire
                    should be connected to GI Switch boxes and DB boxes by tapped screws. <br> <br>
                    No bare or twist joints shall be made at intermediate points in the through run of cables. <br> <br>
                    If any joint becomes unavoidable such joints shall be made through proper cutouts or through proper
                    junction boxes open to easy inspections.</p>

                <h2 class="itemHeading">What can go wrong?</h2>
                <p class="paragraph">The most common problem is accidental damage while digging. Inadvertently digging
                    into the charged wires during a construction or landscaping job can harm those digging and damage
                    the wiring. Know where your wiring is located before any digging projects and call 811 for the “Call
                    Before You Dig” hotline to mark out any previously installed wiring. Wiring that is not rated for
                    underground use can fail and damage the circuit if water penetrates the wiring.</p>

                <h2 class="itemHeading">One of our Wireframe</h2>
                <div class="wireframeSection">
                    <img src="../static/images/wiring diagram.jpg" alt="" width="700px" height="500px">
                </div>
            </div>
        </section>


        <section class="component in-down" id="interiordesign&services">
            <div id="fan_cover">
                <img src="../static/images/interiordesign.png" alt="" width="100%" height="1000px">
            </div>
            <div id="fans_desc" class="container container-fluid">
                <h3 class="itemHeading">INTERIOR DESIGN & SERVICES</h3>
                <p class="paragraph">We aim at turning areas into multi-functional spaces. The ideas and thoughts we
                    implement looks graceful and are filled with antiquity which nails the purpose of space. We believe
                    a recreated space is a symbol of improvisation and revolution. Please visit out service section to
                    know more about our interior design services. <br><br> We are a full service Interior Designing
                    Company, with a dedicated team of professional Interior Designers, interior decorators, along with
                    well trained fabricators and executors who help in executing the designs into reality. The scope of
                    our business includes both interior design and execution. <br><br>Interior Designs Studio with its
                    commitment to total customer satisfaction and strict adherence to completion and delivery schedules
                    has an enviable clientele that includes housing, office, retail, corporate, healthcare, industrial,
                    hospitality & recreation, and institutional. We contract in carpentry, POP, civil, electrical,
                    plumbing, air conditioning, and other disciplines are all offered as part of our services. We
                    undertake and execute from concept to completion, all kinds of interior decoration projects of any
                    size & time schedule. <br><br>
                    <span class="bold">With the trust of excelling your interior expectations, Interior Designs Studio
                        welcomes you at our office with a thoughtful project.</span> <br><br>
                    <span class="bold">Our designers work with your style and budget-taking the guess work out of
                        decorating.</span></p>
            </div>
            <div class="image">
                <img src="../static/images/interior.jpg" alt="" width="100%" height="1000px">
            </div>
            <div class="targetcontainer">
                <h4 class="itemHeading" style="text-align: center;">Our Design Samples</h4>
            </div>
            <div class=" photoGall targetcontainer in-down">
                
                <div class="photo"><a href="../static/images/interior 1a.jpg" data-lightbox="photoGall"><img
                            src="../static/images/interior 1a.jpg" alt="" width="400px" height="300px"></a></div>
                <div class="photo"><a href="../static/images/interior 2a.jpg" data-lightbox="photoGall"><img
                            src="../static/images/interior 2a.jpg" alt="" width="400px" height="300px"></a></div>
                <div class="photo"><a href="../static/images/interior 3a.jpg" data-lightbox="photoGall"><img
                            src="../static/images/interior 3a.jpg" alt="" width="400px" height="300px"></a></div>
                <div class="photo"><a href="../static/images/interior 5a.jpg" data-lightbox="photoGall"><img
                            src="../static/images/interior 5a.jpg" alt="" width="400px" height="300px"></a></div>
                <div class="photo"><a href="../static/images/interior 6a.jpg" data-lightbox="photoGall"><img
                            src="../static/images/interior 6a.jpg" alt="" width="400px" height="300px"></a></div>
                <div class="photo"><a href="../static/images/interior 7a.jpg" data-lightbox="photoGall"><img
                            src="../static/images/interior 7a.jpg" alt="" width="400px" height="300px"></a></div>
                <div class="photo"><a href="../static/images/Interiar Design 6.jpg" data-lightbox="photoGall"><img
                            src="../static/images/Interiar Design 6.jpg" alt="" width="400px" height="300px"></a></div>
            </div>
        </section>



        <!-- ALLUMINIUM WINDOWS &DOORS  -->
        <section class="component in-down" id="alluminiumwindows&doors">
            <div id="fans_desc" class="container container-fluid">
                <h3 class="itemHeading">ALUMINIUM DOORS</h3>
                <p class="paragraph">Aluminium doors are widely used in commercial properties for they are durable and
                    add strength. They reduce the chances of a door being breached or broken by burglars. <br><br>

                    These doors appear to be a favorite choice with modern buildings, but they have their own share of
                    pros and cons.
                    The durability, strength, and stability of doors made from aluminium are their biggest advantage.
                    Aluminium boasts of being exceptionally strong. This is demonstrated by the strength and quality of
                    its products. Products made from aluminium last for decades. They often outlast similar products
                    made from other materials.

                    These doors blend well in structures that are already fitted with aluminium windows. They blend
                    together well, creating an exceptionally beautiful finish that lasts long. </p>

                <div id="fan_cover" class="container container-fluid">
                    <img src="../static/images/Aluminium doors.jpg" alt="" height="auto" width="100vw">
                </div>
                <p class="paragraph">Another key advantage of these doors is that they are able to withstand any
                    climatic conditions. No matter where you live, be it in a coastal region or deep in a desert, these
                    doors have proven to be strong and weatherproof. They can withstand extreme temperature and constant
                    changes in temperature without any signs of tear and wear. <br><br>

                    You can always find these doors from most dealers. This is a big advantage. You will not have to
                    struggle looking for them since most door suppliers worldwide stock them in plenty.

                    If you’ve already made up your mind to go for these doors for your main entry door, then you will
                    easily find a reliable and reputable supplier to supply and fix them within a short period of time.
                    <br><br>

                    However, if you need a customized door, the entire process of making it would take a bit longer. In
                    the case of regular and common designs, a supplier will always have them readily available in
                    different sizes. Regular doors will only require delivery and installation upon ordering.</p>
                <hr>

                <h3 class="itemHeading">ALUMINIUM WINDOWS</h3>
                <p class="paragraph">Another key advantage of these doors is that they are able to withstand any
                    climatic conditions. No matter where you live, be it in a coastal region or deep in a desert, these
                    doors have proven to be strong and weatherproof. They can withstand extreme temperature and constant
                    changes in temperature without any signs of tear and wear. <br><br>

                    You can always find these doors from most dealers. This is a big advantage. You will not have to
                    struggle looking for them since most door suppliers worldwide stock them in plenty.

                    If you’ve already made up your mind to go for these doors for your main entry door, then you will
                    easily find a reliable and reputable supplier to supply and fix them within a short period of time.
                </p> <br><br>

                <h4 class="itemHeading">Types of Aluminium Windows</h4>
                <div class="winTypes">
                    <div class="winType">
                        <img src="../static/images/bi-fold-windows-600x450.jpg" alt="" height="400px" width="500px">
                        <h4 class="itemHeading">BIFOLD WINDOWS</h4>
                    </div>
                    <div class="winType">
                        <img src="../static/images/double-hung-windows-in-Sydney-600x450.jpg" alt="" height="400px" width="500px">
                        <h4 class="itemHeading">DOUBLE HUNG WINDOWS</h4>
                    </div>
                    <div class="winType">
                        <img src="../static/images/louvre-windows.jpg" alt="" height="400px" width="500px">
                        <h4 class="itemHeading">LOUVRE WINDOWS</h4>
                    </div>
                    <div class="winType">
                        <img src="../static/images/sliding-windows-in-Pyrmont-600x450.jpg" alt="" height="400px" width="500px">
                        <h4 class="itemHeading">SLIDING WINDOWS</h4>
                    </div>
                    <div class="winType">
                        <img src="../static/images/enlarged-window-awnings-in-Sydney-CBD-building-600x450.jpg" alt=""
                            height="400px" width="500px">
                        <h4 class="itemHeading">WINDOW AWNINGS</h4>
                    </div>
                </div>
            </div>

        </section>


        <!-- UPVC DOOR  -->

        <section class="component in-down" id="upvcdoor">
            <div id="fans_desc" class="container container-fluid">
                <h3 class="itemHeading">UPVC DOOR</h3>
                <p class="paragraph">uPVC or PVCu is a form of plastic and stands for unplasticised polyvinyl chloride.
                    It is also known as rigid PVC due to the fact that it is hard and not flexible. It is a resistant
                    from of PVC that is often used for pipework and window frames.</p><br>
                <img src="../static/images/upvc doorsjpg.jpg" alt="" width="100%">
                <p class="paragraph">uPVC is proven to offer excellent performance and durability, it is long lasting
                    and requires very little maintenance making it the perfect material for your windows. It is also
                    recognised for its thermal efficiency, sound insulation and great value for money. For larger frame
                    sections we use a galvanised steel reinforcement to improve the strength and durability. With
                    Safestyle you can rest assured that even in the harshest weather conditions your windows will not
                    warp, rot or rust due to the quality and nature of the uPVC we manufacture. <br><br>
                    uPVC has many benefits which make it the perfect material to be used for window frames. It is known
                    for providing the highest level of thermal comfort as well as being extremely durable and long
                    lasting. <br><br>

                    <span class="bold">Low cost</span> - uPVC tends to be considerably cheaper than aluminium and timber
                    and provides more benefits. Costs can vary depending on the quality and features of the windows but
                    you can expect a much more affordable price by choosing a UPVC window. <br><br>

                    <span class="bold">Low maintenance</span> - The material tends to be so popular because it requires
                    very little maintenance; other than cleaning in and around the frames a few times a year you can
                    leave your windows to look after themselves. Unlike timber you will not see any signs of rot or
                    weather damage due to the extremely durable nature of the material. UPVC is also great at providing
                    sound insulation and studies show it can reduce outside noise by as much as 70%.<br><br>

                    <span class="bold">Great performance</span> - Our uPVC windows are extremely energy efficient so
                    installing them can really help to reduce heating costs and keep your property nice and warm. Due to
                    its resilience, strength and robustness, uPVC is also very reliable when it comes to your home
                    security.</p><br><br>
                <img src="../static/images/upvc window.jpg" alt="" height="" width="100%">

                <p class="paragraph">Our choice of double glazed and highly energy efficient UPVC windows include
                    casement, sash and tilt & turn designs to suit your home.

                    At Safestyle, our range of uPVC external doors offer a variety of benefits at a competitive price. A
                    durable and hard-wearing material, uPVC provides security for your home while being wonderfully low
                    maintenance. It won't rust, rot or weather and we give you an extensive 10-Year Guarantee for
                    further peace of mind.</p>

            </div>

        </section>





    </section>
    <!-- </section> -->

    </section>
{% endblock body %}

